<!DOCTYPE html>
<html lang=en>
    <head>
        <title>Favorite songs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <div>
            <h1><b>{{ track_name }}</b></h1>
            <img src="{{ cover }}" alt="Album Cover"/>
        </div>
        <div>
            <h2>{{ artist }}</h2><br>
            <figure>
                <figcaption>Listen to a preview of the song:</figcaption>
                <audio controls src="{{ track_preview }}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </figure>
        </div>
        <div>
            <a href="{{ lyrics }}">{{ lyrics }}</a>
        </div>
    </body>
</html>